/* line 1, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-main {
  margin: 5rem 0;
}

/* line 6, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-content a, .blog-content a:hover {
  color: #26de81;
}

/* line 11, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-flex {
  margin: 0 20%;
}

/* line 15, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper {
  margin: 0 20%;
  text-align: left;
}
/* line 19, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-header {
  padding-top: 3rem;
  margin-bottom: 5rem;
}
/* line 24, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-header {
  padding-bottom: 1.25rem;
  margin: 0 auto 6rem auto;
}
/* line 29, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-title {
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: normal;
}
/* line 35, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-description {
  font-size: 2.5rem;
  color: #999;
}
/* line 40, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .sidebar-module {
  padding: 1rem;
}
/* line 44, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .sidebar-module-inset {
  padding: 1rem;
  background-color: #999;
  border-radius: .25rem;
}
/* line 50, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .sidebar-module-inset p:last-child,
.blog-wrapper .sidebar-module-inset ul:last-child,
.blog-wrapper .sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
/* line 56, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-post {
  margin-bottom: 4rem;
}
/* line 60, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
/* line 64, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-post-title a {
  text-decoration: none;
}
/* line 69, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}
/* line 74, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-col-1 {
  float: left;
  width: 60%;
  margin-bottom: 5rem;
}
/* line 79, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-col-1 .blogcrumb {
  background-color: #333;
}
/* line 83, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-col-1 .blogcrumb a {
  font-size: 1.25em;
  margin: 0px 10px 0px 10px;
}
/* line 89, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .blog-col-2 {
  float: right;
  width: 30%;
}
/* line 94, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .social-links li {
  display: inline;
  padding-right: 10px;
  font-size: 4rem;
}
/* line 98, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-wrapper .social-links li a {
  color: white;
}

/* line 105, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.blog-sidebar-source {
  margin-top: 20px;
}

/* line 109, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.white-blog {
  margin-top: 7rem;
  background-color: white;
  border-radius: 2px;
  padding: 1rem;
  color: black;
  text-shadow: none;
}
/* line 117, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.white-blog .breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
/* line 124, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
.white-blog .breadcrumb a, .white-blog .breadcrumb a:focus, .white-blog .breadcrumb a:hover {
  color: #777777;
}

@media (min-width: 40em) {
  /* line 132, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* line 136, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
  .blog-title {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 600px) {
  /* line 142, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
  .blog-wrapper .blog-col-1 {
    width: 100%;
    margin-bottom: 5rem;
  }

  /* line 147, /Users/tlopez/Documents/projects/tedspace/app/assets/stylesheets/blogs.scss */
  .blog-wrapper .blog-col-2 {
    width: 100%;
  }
}
