/* line 5, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
.contact-wrap {
  margin-top: 5rem;
}
/* line 8, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
.contact-wrap h1 {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* line 18, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
.contact-info {
  padding: 5rem 0;
}

/* line 22, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
.card-block {
  text-align: left;
}
/* line 24, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
.card-block .contact_flex-container, .card-block .login_flex-container {
  display: flex;
  align-content: space-between;
}
/* line 28, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
.card-block .login_flex-div {
  flex: 1;
}

/* line 33, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
.contact-flex-wrap {
  flex-direction: column;
  justify-content: space-around;
  margin: 0 10%;
}
/* line 38, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
.contact-flex-wrap input {
  color: black;
}
/* line 42, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
.contact-flex-wrap .flex-form {
  flex: 1;
  margin: 0 20%;
}
/* line 47, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
.contact-flex-wrap .flex-map {
  margin-top: 5rem;
  margin-bottom: 5rem;
  flex: 1;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  /* line 56, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
  .contact-flex-wrap {
    margin: 0;
  }
  /* line 59, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
  .contact-flex-wrap iframe {
    width: 90%;
  }
  /* line 63, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/contacts.scss */
  .contact-flex-wrap .flex-form {
    margin: 0 10%;
  }
}
