/* line 1, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
header {
  height: 120px;
  padding: 1em 0;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* line 12, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.header-container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}
/* line 17, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.header-container .site-logo {
  float: left;
  z-index: 100;
}
/* line 21, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.header-container .site-logo a {
  text-decoration: none;
}
/* line 26, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.header-container .menu {
  float: right;
}
/* line 29, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.header-container .menu .menu-toggle {
  z-index: 100;
  cursor: pointer;
  text-align: right;
  padding-top: 1.5rem;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
/* line 37, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.header-container .menu .menu-toggle i {
  font-size: 3rem;
}
/* line 42, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.header-container .menu ul {
  padding-top: 1rem;
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}
/* line 55, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.header-container .menu ul .li-div {
  position: relative;
  margin-right: 12%;
  margin-top: 5%;
}
/* line 63, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.header-container .menu ul li {
  list-style-type: none;
  text-align: right;
  margin-bottom: 5px;
}

/* line 72, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.hide {
  display: none;
}

/* line 76, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/nav.scss */
.show {
  display: block;
}
