/* line 1, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/noise.scss */
.typed-js {
  text-align: center;
  margin: 4rem 0;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* line 12, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/noise.scss */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 34, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/noise.scss */
.twitter-wrapper {
  width: 65%;
  margin: 0 auto;
}

/* line 39, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/noise.scss */
.tweet {
  text-align: left;
}

/* line 43, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/noise.scss */
.tweet-card {
  background-color: #424652;
}
/* line 46, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/noise.scss */
.tweet-card a {
  color: #c6ff00;
}

/* line 51, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/noise.scss */
.tweet > .tweet-card {
  margin: 1rem 0;
  padding: 30px;
}

/* line 56, /Users/tedlopez/Documents/projects/tedspace/app/assets/stylesheets/noise.scss */
.twitter-wrapper {
  margin: 0 auto;
}
