<% if current_page?(root_url) %>
<div class="video-wrapper">
  <div class="video">
    <video id="background" autoplay loop muted playsinline>
      <source src="https://s3.amazonaws.com/tedspace/videos/Stars.mov">
    </video>
  </div>
</div>
<% end %>
