<header class="masthead mb-auto">
  <h3 class="masthead-brand"><%= link_to 'tedlopez', root_path %></h3>
  <nav class="nav nav-masthead justify-content-center app-nav">
    <%= nav_helper 'nav-link', 'span' %>
    <%= login_helper 'nav-link' %>
  </nav>
</header>
