<header class="masthead mb-auto">
  <a href="/"><h3 class="masthead-brand">tedlopez</h3></a>
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</header>
