<% if current_page?(root_url) %>
<div class="video-responsive">
  <video class="video" id="background" muted="muted" autoplay="autoplay" loop="loop">
    <source src="<%= video_randomizer %>">
  </video>
</div>

<canvas class="canvas"></canvas>

<% end %>
