<% if current_page?(root_url) %>
  <div class="video">
    <%= video_tag(
        'Waves.mp4',
        id: 'background',
        autoplay: true,
        loop: true,
        muted: false,
      )
    %>
  </div>
<% end %>
