<div class="blog-col-2">
  <div class="sidebar-module sidebar-module-inset">
    <%= image_tag("ted.JPG", style: 'width: 100%;') %>
    <h4>About Ted</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Blog Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/teddylopez/" target=_blank><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/tedmlopez/" target=_blank><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    </ol>
  </div>
</div>
