<!-- start of sidebar -->
<div class="blog-col-2">
  <div class="sidebar-module sidebar-module-inset">
    <%= image_tag("ted.jpeg", style: 'width: 100%;') %>
    <h4>Ted López</h4>
    <hr>
      <p>I made this site because I'm trying to get filthy rich.</p>
      <p>Hopefully you'll find something I say worthwhile.</p>
      <br>
      <p><%= link_to "Send all media inquiries here.", new_contact_path %></p>
      <%= source_helper("alert alert-info") %>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/teddylopez/" target=_blank><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/tedmlopez/" target=_blank><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    </ol>
  </div>
  <!-- end of sidebar -->
