<!-- start of sidebar -->
<div class="blog-col-2">
  <div class="sidebar-module sidebar-module-inset">
    <%= image_tag("ted.jpeg", style: 'width: 100%;') %>
    <h4>Ted Talks</h4>
      <p>I made this blog so I can share my work and write about the progress I've made as a website developer.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/teddylopez/" target=_blank><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/tedmlopez/" target=_blank><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    </ol>
  </div>
  <!-- end of sidebar -->
