<div class="blog-header">
  <div class="ted-container">
    <h1 class="blog-post-title">Ted Talks</h1>
    <p class="lead blog-description">Thoughts from a freethinker</p>
    <br>
    <%= link_to "Blogs", blogs_path, class: "topic-btn" %> <%= link_to "Topics", topics_path, class: "topic-btn" %> <%= link_to "New Blog", new_blog_path if logged_in?(:site_admin) %>
    <br>
    <br>
    <hr>
  </div>
</div>
