<div class="lax-wrap main">
  <div class="about-me section" id="about-me">
  	  <h1>TED <span class="splash">LÓPEZ</span></h1>
  	  <h3><span class="splash">240-271-7135</span> ·
  	  <a href="mailto:tedmlopez@gmail.com?subject=Hello%20Ted" class="mailto">tedmlopez@gmail.com</a></h3>
      <p class="desc">Website designer and developer with frontend and backend experience.</p>
      <p>Supporting healthcare, defense, technology, and venture capital industries.</p>
      <ul id="about-icons">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/ted-l%C3%B3pez-aa027852/" target=_blank>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/teddylopez/" target=_blank>
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
  	</div>

  <div class="lax-1"></div>

  <div class="skills section" id="skills">
  <h1>TECHNICAL SKILLS</h1>
  <ul class="icons hidden-xs hidden-sm">
    <li><i class="devicon-angularjs-plain"></i></li>
    <li><i class="devicon-babel-plain"></i></li>
    <li><i class="devicon-bootstrap-plain"></i></li>
    <li><i class="devicon-css3-plain"></i></li>
    <li><i class="devicon-git-plain"></i></li>
    <li><i class="devicon-github-plain"></i></li>
    <li><i class="devicon-html5-plain"></i></li>
    <li><i class="devicon-java-plain"></i></li>
    <li><i class="devicon-javascript-plain"></i></li>
    <li><i class="devicon-jquery-plain"></i></li>
    <li><i class="devicon-linux-plain"></i></li>
    <li><i class="devicon-nodejs-plain"></i></li>
    <li><i class="devicon-rails-plain"></i></li>
    <li><i class="devicon-react-original"></i></i></li>
    <li><i class="devicon-ruby-plain"></i></li>
  </ul>
  <p class="desc">HTML, CSS, responsive design, JavaScript, Angular and React frameworks/libraries, Ruby on Rails, TDD, RSpec, Git, frontend and backend experience, Stanford University CS106A Computer Science Course on Java programming language, Adobe Photoshop, Illustrator, Eloqua, Salesforce, Sitecore, Google Analytics, Webtrends, Windows, Mac OS, Linux, Firebase, MySQL, Postgresql</p>
</div>

<div class="lax-2"></div>

<div class="experience section">
  <h1 id="experience">EXPERIENCE</h1>
  <div class="align">
    <h3>Senior Web Development Associate <p class="hidden-xs">2014 – Present</p></h3>
  </div>
  <h4 class="subhead">Advisory Board Company</h4>
  <br>
  <p class="desc">Serve as key role in website tasks and projects at the global research, technology, and consulting firm that specializes in
    health care and higher education. Work alongside frontend and backend developers to build and deploy projects and solutions for the website.
  </p>
  <p class="desc">
    Created interactive Javascript tools and provided technical HTML, CSS, Javascript assistance. Sitecore administrator.
    Test, troubleshoot, and fix time-sensitive issues. Executed website deployments, coordinating with internal and external teams.
    QA and user test. Run, create the schedule, and manage advanced Sitecore training for web editors.
  Track development task progress. Create, update, and maintain testing plans and documentation.</p>

  <div class="align">
    <h3>International Affairs Associate<p class="hidden-xs">March 2014 – May 2014</p></h3>
  </div>
  <h4 class="subhead">Abt Associates</h4>
  <br>
  <p class="desc">International affairs associate and data analyst at one of the largest for-profit government and business research and consulting
    firms in the world.
  </p>
  <p class="desc">Balanced program budgets and reported costs while managing organized and up-to-date spreadsheets of project-related data.
    One of the primary point-of-contacts for two of Abt’s largest international conferences (including airfares,
    hotel arrangements, passports/visas arrangements), as well as event scheduling and technical day-of support.</p>

    <div class="align">
      <h3>External Affairs intern<p class="hidden-xs">October 2012 – March 2013</p></h3>
    </div>
    <h4 class="subhead">In-Q-Tel</h4>
    <br>
    <p class="desc">External Affairs intern at government sponsored high-technology venture capital firm that develops products for US defense and
      intelligence agencies.
    </p>
    <p class="desc">Created and maintained communications collateral, including presentation materials and event resources for In-Q-Tel and
      its portfolio companies. Produced and edited multimedia content, presentations, quarterly reports, and newsletters. Edited articles to be printed in
      publications. Helped prepare, plan, and organize the logistics of the annual In-Q-Tel conference. Maintained company website (HTML, CSS) and
      writing and managing content on the SharePoint portal.
    </p>
    <p class="desc"> Background investigated for handling of confidential and proprietary materials.</p>
</div>

<div class="lax-3"></div>

<div class="education section" id="education">
  <h1>EDUCATION & TRAINING</h1>
  <div class="align">
    <h3>Bloc Website Development <p class="hidden-xs">February 2017 - September 2017</p></h3>
  </div>
  <br>
  <p class="desc">Frontend and backend website development. Built projects using Ruby on Rails, and Javascript frameworks Angular and React, including website analytics, APIs, and databases. </p>
  <div class="align">
    <h3>Pennsylvania State University<p class="hidden-xs">State College, PA · May 2012<p></h3>
  </div>
  <br>
  <p class="desc">B.A. College of Communications, minor in Business.</p>
  <div class="align">
    <h3>udemy professional development courses<p></h3>
  </div>
  <br>
  <div class="classes">
    <p>JavaScript: Understanding the Weird Parts</p></br>
    <p>Dissecting Ruby on Rails 5</p></br>
    <p>The Complete React Web Developer Course (with Redux)</p></br>
    <p>iOS 11 & Swift 4: The Complete iOS App Development Bootkit</p></br>
  </div>
</div>

<div class="lax-4"></div>

<div class="interests section last" id="interests">
  <h1>INTERESTS</h1>
  <div class="align">
    <h3>Local DC native that enjoys sports and live music.</p></h3>
  </div>
  <br>
  <p class="desc">Grew up in Bethesda, Maryland and attended Gonzaga College High School in Washington, DC.</p>
  <p>  Musician, surfer, member of the Washingtonian Pizza Society.</p>
</div>

</div>
