<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p><%= number_to_phone "2402717135" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.5" %></p>

<p><%= number_with_delimiter "7632975" %></p>
