<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">My name is Ted López and this is my portfolio.</p>
  <p class="lead">
    <%= link_to "About Me", about_ted_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
