<div class="flex-home">
  <div class="inner cover home-flex-item">
    <%= source_helper("application") %>
    <div class="twitter-wrapper">
      <h1 class="typed-js">
        <span class="element"></span>
      </h1>
      <div class="tweet-flex">
        <% @tweets.each do |tweet| %>
          <div class="tweet">
            <div class="tweet-card animated bounceIn">
              @<%= tweet_parser tweet %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/application_footer' %>
