<div class="about-me section" id="about-me">
  <h1>TED LÓPEZ</h1>
  <h3><span style="color:white;">240-271-7135</span> ·
  <a href="mailto:tedmlopez@gmail.com?subject=Hello%20Ted" class="mailto">tedmlopez@gmail.com</a></h3>
  <p>Website designer and developer with frontend and backend experience.</p>
  <p>Supporting healthcare, defense, technology, and venture capital industries.</p>
  <div class="about-icons">
    <ul>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/ted-l%C3%B3pez-aa027852/" target=_blank>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/teddylopez/" target=_blank>
          <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
