<div class="education section" id="education">
  <h1>EDUCATION & TRAINING</h1>
  <div class="align">
    <h3>Bloc Website Development <p class="hidden-xs">February 2017 - September 2017</p></h3>
  </div>
  <p>Frontend and backend website development. Built projects using Ruby on Rails, and Javascript frameworks Angular and React, including website analytics, APIs, and databases. </p>
  <br>
  <div class="align">
    <h3>Pennsylvania State University<p class="hidden-xs">State College, PA · May 2012<p></h3>
  </div>
  <p>B.A. College of Communications, minor in Business.</p>
  <br>
  <div class="align">
    <h3>udemy professional development courses:<p></h3>
  </div>
  <div class="classes">
    <p><a href="https://www.udemy.com/understand-javascript/" target="_blank">· JavaScript: Understanding the Weird Parts</a></p>
    <p><a href="https://www.udemy.com/jquery-course" target="_blank">· The Complete jQuery Course: Beginner to Professional</a></p>
    <p><a href="https://www.udemy.com/comprehensive-ruby-programming-tutorial/" target="_blank">· Comprehensive Ruby Programming</a></p>
    <p><a href="https://www.udemy.com/professional-rails-5-development-course/" target="_blank">· Dissecting Ruby on Rails 5: Become a Professional Developer</a></p>
    <p><a href="https://www.udemy.com/professional-ruby-on-rails-coding-course/" target="_blank">· Professional Rails Code Along</a></p>
    <p><a href="https://www.udemy.com/8-beautiful-ruby-on-rails-apps-in-30-days/" target="_blank">· 8 Beautiful Ruby on Rails Apps in 30 Days & TDD - Immersive</a></p>
    <p><a href="https://www.udemy.com/react-2nd-edition/" target="_blank">· The Complete React Web Developer Course (with Redux)</a></p>
    <p><a href="https://www.udemy.com/ios11-app-development-bootcamp/" target="_blank">· iOS 11 & Swift 4: The Complete iOS App Development Bootkit</a></p>
  </div>
</div>
