<div class="experience section">
  <h1 id="experience">EXPERIENCE</h1>
  <div class="align">
    <h3>Senior Web Development Associate <h4 class="hidden-xs">2014 – Present</h4></h3>
  </div>
  <h4 class="subhead">Advisory Board Company</h4>
  <br>
  <p>
    Serve as key role in website tasks and projects at the global research, technology, and consulting firm that specializes in health care and higher education. Work alongside frontend and backend developers to build and deploy projects and solutions for the website.
  </p>
  <p>
    Created interactive Javascript tools and provided technical HTML, CSS, Javascript assistance. Sitecore administrator. Test, troubleshoot, and fix time-sensitive issues. Executed website deployments, coordinating with internal and external teams. QA and user test. Run, create the schedule, and manage advanced Sitecore training for web editors. Track development task progress. Create, update, and maintain testing plans and documentation.
  </p>
  <br>

  <div class="align">
    <h3>International Affairs Associate<h4 class="hidden-xs">March 2014 – May 2014</h4></h3>
  </div>
  <h4 class="subhead">Abt Associates</h4>
  <br>
  <p>
    International affairs associate and data analyst at one of the largest for-profit government and business research and consulting firms in the world.
  </p>
  <p>
    Balanced program budgets and reported costs while managing organized and up-to-date spreadsheets of project-related data. One of the primary point-of-contacts for two of Abt’s largest international conferences (including airfares, hotel arrangements, passports/visas arrangements), as well as event scheduling and technical day-of support.
  </p>
  <br>

  <div class="align">
    <h3>External Affairs intern<h4 class="hidden-xs">October 2012 – March 2013</h4></h3>
  </div>
  <h4 class="subhead">In-Q-Tel</h4>
  <br>
  <p>
    External Affairs intern at government sponsored high-technology venture capital firm that develops products for US defense and intelligence agencies.
  </p>
  <p>
    Created and maintained communications collateral, including presentation materials and event resources for In-Q-Tel and its portfolio companies. Produced and edited multimedia content, presentations, quarterly reports, and newsletters. Edited articles to be printed in publications. Helped prepare, plan, and organize the logistics of the annual In-Q-Tel conference. Maintained company website (HTML, CSS) and writing and managing content on the SharePoint portal.
  </p>
  <p>
    Background investigated for handling of confidential and proprietary materials.
  </p>
  <br>
</div>
