<div class="interests section last" id="interests">
  <h1>INTERESTS</h1>
  <br>
  <p>Local DC native that enjoys sports and live music.</p>
  <p>Grew up in Bethesda, Maryland and attended Gonzaga College High School in Washington, DC.</p>
  <p>Musician, surfer, member of the Washingtonian Pizza Society.</p>
</div>
