<div class="skills section" id="skills">
<h1>TECHNICAL SKILLS</h1>
<ul class="icons hidden-xs hidden-sm">
  <li><i class="devicon-angularjs-plain"></i></li>
  <li><i class="devicon-babel-plain"></i></li>
  <li><i class="devicon-bootstrap-plain"></i></li>
  <li><i class="devicon-css3-plain"></i></li>
  <li><i class="devicon-git-plain"></i></li>
  <li><i class="devicon-github-plain"></i></li>
  <li><i class="devicon-html5-plain"></i></li>
  <li><i class="devicon-java-plain"></i></li>
  <li><i class="devicon-javascript-plain"></i></li>
  <li><i class="devicon-jquery-plain"></i></li>
  <li><i class="devicon-linux-plain"></i></li>
  <li><i class="devicon-nodejs-plain"></i></li>
  <li><i class="devicon-rails-plain"></i></li>
  <li><i class="devicon-react-original"></i></i></li>
  <li><i class="devicon-ruby-plain"></i></li>
</ul>
<p class="desc">HTML, CSS, responsive design, JavaScript, Angular and React frameworks/libraries, Ruby on Rails, TDD, RSpec, Git, frontend and backend experience, Stanford University CS106A Computer Science Course on Java programming language, Adobe Photoshop, Illustrator, Eloqua, Salesforce, Sitecore, Google Analytics, Webtrends, Windows, Mac OS, Linux, Firebase, MySQL, Postgresql</p>
</div>
