@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  position: relative;
}
body {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

ul {
  padding: 0;
}
li {
  display: inline-block;
}

form {
  text-align: left;
  margin: 5% auto;
  input {
    margin-bottom: 2rem;
    height: 3rem;
  }
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  background-color: #333;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 7rem;
  z-index: 1000;
}

.masthead-brand {
  margin-bottom: 0;
  color: #fff;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-decoration: none;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
  h1 {
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 4rem;
  }
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.cover-heading {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot {
    width: 100%;
  }
}

/* Contact Page Styles */

.card-block {
  text-align: left;
  .contact_flex-container, .login_flex-container {
    display: flex;
    align-content: space-between;
  }
  .login_flex-div {
    flex: 1;
  }
}

.login > .card {
  width: 30%;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

.main {
  h3, h4, h6 {
    text-transform: uppercase;
  }
}


.contact-wrap h1 {
  margin-top: 10%;
}

.contact-flex-wrap {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
  .form-control {
    width: 75%;
  }
  .contact-flex-item {
    flex: 1;
    margin-top: 10%;
  }
}

.flex-home {
  display: flex;
}

.home-flex-item {
  flex: 1;
}

.lax-wrap {
  max-width: 100%;
  margin: 0 auto;
  font-size: 24px;
  padding: 25px;
}

.lax-1 {
  background: url("https://source.unsplash.com/ol8jGSMf3yE/1500x1500") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.lax-2 {
  background: url("https://source.unsplash.com/T-tOgjWZ0fQ/1500x1500") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.lax-3 {
  background: url("https://source.unsplash.com/zepnJQycr4U/1500x1500") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.lax-4 {
  background: url("https://source.unsplash.com/WNZoVFUXE9E/1500x1500") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.desc {
  margin: 0 15%;
}

.align, .subhead {
  text-align: left;
}

.about-me {
  text-align: left;
	margin: 20% 0;
	padding-left: 5%;
  .mailto {
    color: #c8102e
  }
  h1 {
    font-size: 55px;
  }
  a {
    text-decoration: none;
    color: #424652;
  }
}

.skills {
  p {
    text-align: left;
  }
}

.experience, .education, .interests {
  h1 {
    text-align: center;
  }
  p {
    text-align: left;
  }
}

.education {
  text-align: left;
}

.section {
  margin: 10% 0;
}

.icons {
  margin-top: 2rem;
  i {
    font-size: 4rem;
  }
}

.map {
  margin-top: 5rem;
  margin-bottom: 25rem;
}

@media(max-width:767px){
  .masthead-brand {
    padding-left: 2rem;
    text-align: left;
  }
  .about-icons {
    text-align: center;
  }
  .desc {
    margin: 0;
  }
  .contact-flex-wrap {
    flex-direction: column;
    .contact-flex-item {
      .form-control {
        width: 100%;
      }
      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.video {
  top: 0;
  position: fixed;
}
