@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "gritter";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

#gritter-notice-wrapper {
  position: fixed;
  top: 5rem;
  right: 20px;
  width: 301px;
  z-index: 9999;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

html,
body {
  height: 100%;
  position: relative;
}
body {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

textarea {
  resize: vertical;
}

ul {
  padding: 0;
}

form {
  text-align: left;
  margin: 5% auto;
  input {
    margin-bottom: 2rem;
    height: 3rem;
  }
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  overflow: hidden;
  background-color: #333;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 2rem;
}

#menu-icon {
  float: right;
  margin-top: 1rem;
  margin-right: 10rem;
  font-size: 3rem;
}

nav {
  .nav-menu {
    margin-right: 10rem;
    overflow: hidden;
    height: 0;
    li {
      text-align: right;
    }
  }
}

.nav-link {
  float: right;
}

nav ul.open {
  height: auto;
  margin-top: 5rem;
}

nav ul li a {
  padding: 10px;
  display: block;
}

header {
  z-index: 1000;
}

.masthead {
  position: relative;
  margin-bottom: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 7rem;
  width: 100%;
}

.masthead-brand {
  float: left;
  margin-bottom: 0;
  color: #fff;
  a {
    text-decoration: none;
  }
}

.nav-masthead .nav-link {
  padding: .25rem 1rem;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-decoration: none;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.cover {
  padding: 0 1.5rem;
  h1 {
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 4rem;
  }
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.cover-heading {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mastfoot {
  color: rgba(255,255,255,.5);
}

.card-block {
  text-align: left;
  .contact_flex-container, .login_flex-container {
    display: flex;
    align-content: space-between;
  }
  .login_flex-div {
    flex: 1;
  }
}

.card {
  margin: 10rem 20%;
}

.login > .card {
  width: 30%;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

.main {
  h3, h4, h6 {
    text-transform: uppercase;
  }
}

.contact-wrap h1 {
  margin-top: 10%;
}

.form-control {
  width: 90%;
}

.contact-flex-wrap {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
  .contact-flex-item {
    flex: 1;
    margin-top: 10%;
  }
}

.flex-home, .tweet-flex {
  display: flex;
}

.tweet-flex {
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.home-flex-item {
  flex: 1;
}

.lax-wrap {
  max-width: 100%;
  margin: 0 auto;
  font-size: 24px;
  padding: 25px;
  li {
    display: inline-block;
  }
}

.lax-1 {
  background: url("https://source.unsplash.com/ol8jGSMf3yE/1500x1500") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.lax-2 {
  background: url("https://source.unsplash.com/T-tOgjWZ0fQ/1500x1500") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.lax-3 {
  background: url("https://source.unsplash.com/zepnJQycr4U/1500x1500") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.lax-4 {
  background: url("https://source.unsplash.com/WNZoVFUXE9E/1500x1500") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.desc {
  margin: 0 15%;
}

.align, .subhead {
  text-align: left;
}

.about-me {
  text-align: left;
	margin: 20% 0;
	padding-left: 5%;
  .mailto {
    color: #c8102e
  }
  h1 {
    font-size: 55px;
  }
  a {
    text-decoration: none;
    color: #424652;
  }
}

.skills {
  p {
    text-align: left;
  }
}

.experience, .education, .interests {
  h1 {
    text-align: center;
  }
  p {
    text-align: left;
  }
}

.education {
  text-align: left;
}

.section {
  margin: 10% 0;
}

.icons {
  margin-top: 2rem;
  i {
    font-size: 4rem;
  }
}

.map {
  margin-top: 5rem;
  margin-bottom: 25rem;
}

.video {
  top: 0;
  position: fixed;
}

.twitter-wrapper {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.tweet {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: left;
}

.tweet-card {
  background-color: #424652;
  width: 60rem;
}

.tweet > .tweet-card {
  margin: 1rem 0;
  padding: 30px;
}

@media(max-width:767px){
  #menu-icon {
    margin: 2rem 10rem;
    font-size: 2rem;
  }
  nav ul li {
    background: #333333;
    opacity: .95;
    padding-bottom: .7rem;
  }
  .masthead-brand {
    float: left;
  }
  .about-icons {
    text-align: center;
  }
  .desc {
    margin: 0;
  }
  .contact-flex-wrap {
    flex-direction: column;
    iframe {
      width: 100%;
    }
  }
  .login_flex-container {
    flex-direction: column;
  }
  .twitter-wrapper {
    width: 100%;
    margin-bottom: 10rem;
  }
}
