@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "gritter";
@import "about";
@import "noise";
@import "contacts";
@import "topics";
@import "blogs";
@import "portfolios";
@import "nav";

html,
body {
  height: 100%;
}
body {
  color: #fff;
  background-color: #333;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.site-wrapper {
  z-index: 1;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
  box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
}

.secondary-wrapper-class {
  z-index: 1;
  color: #333;
  background-color: white;
  text-align: center;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  box-shadow: none!important;

  .header-container {
    text-shadow: none;

      a, .menu-toggle {
        color: #337ab7;
      }
  }

  .mastfoot {
    p {
      color: black;
      text-shadow: none;
    }
  }

}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.inner {
  vertical-align: middle;
}

.cover {
  height: 100%;

  .cover-heading {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 80%;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

a,
a:focus,
a:hover {
  color: #fff;
}

.fa-bolt {
  font-size: 2rem;
}

.masthead-brand {
  margin-left: 2rem;
  margin-bottom: 0;
  a {
    text-decoration: none;
  }
}

.mastfoot {
  color: rgba(255,255,255,.5);
}

.login > .card {
  width: 50%;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

.app-footer {
  color: white;
}

.pagination a {
  padding: .1em .3em;
  margin: .2em;
  border: 1px solid white;
  text-decoration: none;
  color: white!important;
}

.pagination a:hover {
  color: white!important;
  border: 1px solid white!important;
}

@media only screen and (max-width: 600px) {
  .video {
    display: none;
  }

  .header-container .menu ul {
    position: absolute;
    width: 200px;
    left: 40%;
    top: 75px;
  }
}
