.register-form {
  margin: 0 30%;

  h2 {
    text-align: center;
  }

  .login-card {
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    text-align: left;
  }

  input {
    margin-bottom: 2rem;
    color: black;
  }

  .auth-links {
    a {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 600px) {
  .register-form {
    margin: 0 10%;
  }

  .login > .card {
    width: 100%!important;
    margin: 0 auto;
    float: none;
  }

  input {
    margin-bottom: 2rem;
    color: black;
  }

  .auth-links {
    a {
      color: #fff;
    }
  }
}
