header {
  height: 120px;
  padding: 1em 0;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.header-container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;

  .site-logo {
    float: left;
    z-index: 100;

    a {
      text-decoration: none;
    }
  }

  .menu {
    float: right;

    .menu-toggle {
      z-index: 100;
      cursor: pointer;
      text-align: right;
      padding-top: 1.5rem;
      transition: all 0.05s;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

      i {
        font-size: 3rem;
      }
    }

    ul {
      padding-top: 1rem;
      display: none;
      position: fixed; /* Stay in place */
      z-index: 2; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.6); /* Black w/ opacity */

      .li-div {
        position: relative;
        margin-right: 12%;
        margin-top: 5%;
      }



      li {
        list-style-type: none;
        text-align: right;
        margin-bottom: 5px;
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
