header {
  height: 120px;
  padding: 1em 0;
  z-index: 100;
}

.header-container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;

  .site-logo {
    float: left;

    a {
      text-decoration: none;
    }
  }

  .menu {
    float: right;

    .menu-toggle {
      text-align: right;
      padding-top: 2rem;

      i {
        font-size: 3rem;
      }
    }

    ul {
      position: absolute;
      width: 200px;
      left: 75%;
      top: 75px;

      li {
        list-style-type: none;
        text-align: right;
        margin-bottom: 5px;
      }
    }
  }
}

.site-nav--close {
  display: none;
}

.site-nav--open {
  display: block;
}
