// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "gritter";

.portfolio-item-show {

  text-shadow: none;

  a, a:hover {
    color: white;
    text-shadow: none;
    text-decoration: none;
  }

  .btn-warning {
    color: #fff!important;
  }
}

.album {
  width: 100%;
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  h1 {
    color: white!important;
    text-shadow:
      2px 2px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  text-align: left;

  a, a:hover {
    color: white;
    text-shadow: none;
    text-decoration: none;
  }

  p {
    text-shadow: none;
  }
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.portfolio-item-show {
  margin-top: 7%;

  .col-md-5 {
    text-align: left;
  }

  .portfolio-desc {
    width: 75%;
    margin: 2rem auto;
    padding-bottom: 10rem;
    text-align: left;
  }
}

@media(max-width:767px){

  .card {
    width: 100%;

    a {
      color: white;
    }
  }

  .portfolio-wrap {
    margin: 0 1rem;
  }

  .portfolio-desc {
    margin: 1rem auto;
    width: 100%!important;
    text-align: left;
  }
}

.item-show {
  margin-top: 7%;
}

.portfolio-desc {
  width: 75%;
  margin: 2rem auto;
}

@media(max-width:767px){

  #menu-icon {
    font-size: 2.5rem;
  }
  .card {
    width: 100%;
  }

  .portfolio-wrap {
    margin: 0 1rem;
  }

  nav ul {
    border-radius: .5rem;
  }

  li a {
    color: white;
    margin-right: 3rem;
  }

  .nav-item {
    padding-bottom: 5rem;
  }

  nav ul li {
    background: #333333;
    opacity: .8;
    padding-bottom: 2rem;
  }

  .nav-login {
    padding-bottom: 4rem;
  }

  .masthead .nav-link {
    color: white;
  }

  nav ul.open {
    width: 100%;
  }

  .portfolio-desc {
    margin: 1rem auto;
    width: 100%;
  }
}
