// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "gritter";

.album {
  width: 100%;
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: absolute;

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.portfolio-item-show {
  margin-top: 7%;

  .col-md-5 {
    text-align: left;
  }

  .portfolio-desc {
    width: 75%;
    margin: 2rem auto;

    p {
      text-align: left;
    }
  }
}

@media(max-width:767px){

  .card {
    width: 100%;
  }

  .portfolio-wrap {
    margin: 0 1rem;
  }

  .portfolio-desc {
    margin: 1rem auto;
    width: 100%;
  }
}
