// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";
@import "gritter";

body {
  font-family: 'Raleway', sans-serif;
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

textarea {
  resize: vertical;
}

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

#menu-icon {
  margin-right: 2.5rem;
  float: right;
  margin-top: 1rem;
  font-size: 3rem;
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}

.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

nav {
  .nav-menu {
    margin-right: 5rem;
    overflow: hidden;
    height: 0;
    li {
      list-style: none;
      text-align: right;
    }
  }
}

.nav-link {
  float: right;
}

nav ul.open {
  height: auto;
  margin: 5rem 0;
  width: 100%;
  padding: 2rem 3rem;
}

nav ul li a {
  padding: 10px;
  display: block;
}

header {
  z-index: 1000;
}

.masthead {
  position: relative;
  margin-bottom: 2rem;
  height: 7rem;
  width: 100%;
}

.masthead-brand {
  margin-left: 2rem;
  float: left;
  margin-bottom: 0;
  color: #fff;
  a {
    text-decoration: none;
  }
}

.nav-masthead .nav-link {
  padding: .25rem 1rem;
  font-weight: bold;
  color: #337ab7;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-decoration: none;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 33%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  text-align: center;
  margin-bottom: .25rem;
}

/* Ted Styles */

.portfolio-form {
  padding: 5rem;
}

.item-show {
  margin-top: 7%;
}

.portfolio-desc {
  width: 75%;
  margin: 5rem auto;
}

@media(max-width:767px){

  #menu-icon {
    font-size: 2.5rem;
  }
  .card {
    width: 100%;
  }

  .portfolio-wrap {
    margin: 0 1rem;
  }

  nav ul {
    border-radius: .5rem;
  }

  li a {
    color: white;
    margin-right: 3rem;
  }

  .nav-item {
    padding-bottom: 5rem;
  }

  nav ul li {
    background: #333333;
    opacity: .8;
    padding-bottom: 2rem;
  }

  .nav-login {
    padding-bottom: 4rem;
  }

  .masthead .nav-link {
    color: white;
  }

  nav ul.open {
    width: 100%;
  }
}
